name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./app
          file: .docker/Dockerfile
          target: prod
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ vars.PROJECT_NAME }}:latest

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        env:
          POSTGRES_HOST: ${{ vars.POSTGRES_HOST }}
          POSTGRES_PORT: ${{ vars.POSTGRES_PORT }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ vars.POSTGRES_DB }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          OWNER_TG_ID: ${{ vars.OWNER_TG_ID }}
          PROJECT_NAME: ${{ vars.PROJECT_NAME }}
          TELEGRAM_BOT_WEBHOOK_PORT: ${{ vars.TELEGRAM_BOT_WEBHOOK_PORT }}
          PUBLIC_POSTGRES_PORT: ${{ vars.PUBLIC_POSTGRES_PORT }}
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          envs: |
            POSTGRES_HOST,
            POSTGRES_PORT,
            POSTGRES_USER,
            POSTGRES_PASSWORD,
            POSTGRES_DB,
            TELEGRAM_BOT_TOKEN,
            DOCKERHUB_USERNAME,
            OWNER_TG_ID,
            PROJECT_NAME,
            TELEGRAM_BOT_WEBHOOK_PORT,
            PUBLIC_POSTGRES_PORT,
          script: |
            cd /var/www/${{ vars.PROJECT_NAME }}
            git pull
            cd /var/www/${{ vars.PROJECT_NAME }}/.docker

            docker compose -p ${{ vars.PROJECT_NAME }} -f docker-compose.prod.yml pull
            docker compose -p ${{ vars.PROJECT_NAME }} -f docker-compose.prod.yml down
            docker compose -p ${{ vars.PROJECT_NAME }} -f docker-compose.prod.yml up -d bot
            docker system prune -f --filter "label=com.docker.compose.project=${{ vars.PROJECT_NAME }}"
